<div class="height-100"  fxLayout.lg = "Row" fxLayout.md="Column" fxLayout.sm="Column" fxLayout.xs="Column" >
    <div fxFlex.lg="30%" fxFlex.sm=100% class="bg-darkgrey padding-18">
      <div fxLayout="Column" class="margin-left-10 margin-right-10">
        
        <div fxLayout="column"  >
          <div><h2>Numbers</h2></div>        
          <form class="bg-darkgrey" fxLayout="column" fxLayoutGap="20px" id="math_operation_form" [formGroup]="math_operation_form" (ngSubmit)="sendMathOperation(math_operation_form)">
  
              <div class="field" fxLayout="column">
                  <label>Number One</label>
                  <input formControlName="number_one" name="number_one"  type="number" placeholder="Enter number one" maxlength="10" required>
              </div>
              <div class="field" fxLayout="column">
                  <label>Number Two</label>
                  <input formControlName="number_two" name="email"  type="number" placeholder="Enter number two" maxlength="10" required>
              </div>
              <div class="field" fxLayout="column" fxLayoutAlign="start ">
                  <label>Operation</label>
                  <select formControlName="math_operation" required>
                      <option value="+">Add</option>
                      <option  value="-">Subtract</option>
                      <option  value="*">Multiply</option>
                      <option  value="/">Divide</option>
                  </select>                
              </div>  
              <div fxLayout="column">
                <button type="submit" [disabled]="!math_operation_form.valid" class="ui blue primary height-50 font-16 font-quicksand submit button">Post</button>
              </div>              
          </form>
        </div>
        <app-spinner *ngIf="isLoading"></app-spinner>
      </div>
    </div>
    <div fxFlex.lg="70%" fxFlex.sm=100% class="bg-pink padding-18">
      
        <div fxLayout="column" class="margin-left-10 margin-right-10">
            <div><h2>Results</h2></div>

            <table class="table">
                <thead>
                    <tr class="odd">
                        <th fxFlex="16%">Number1</th>
                        <th fxFlex="16%">Number2</th>
                        <th fxFlex="17%">Response</th>                               
                        <th fxFlex="17%">Expected</th>
                        <th fxFlex="17%">Passed</th>
                        <th fxFlex="17%">Remove</th>
                    </tr>
                </thead>
                <tbody class="fontSize-xs">

                    <tr *ngFor="let item of all_math_operations; let i = index;
                let isOdd=odd; let isEven=even" ngClass="isOdd?isOdd:isEven">
                        <td fxFlex="16%">
                            {{item.number_one}}
                        </td>
                        <td fxFlex="16%">{{item.number_two}}</td>
                        <td fxFlex="17%" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">  
                            {{item.response}}                      
                        </td>                   
    
                        <td fxFlex="17%"> 
                          {{item.expected}}                      
                        </td>
                        <td fxFlex="17%" fxLayoutGap="10px" fxLayout="column">
                            {{item.passed}}
                        </td>
                        <td fxFlex="17%" fxLayoutGap="10px" fxLayout="row" >                       
                            <div>
                                <button mat-button class="button button-red" (click)="deleteItem(i)">Delete</button>
                                <!-- <span class="clickable" (click)="deleteItem(i)"><i class="fa fa-trash"></i></span> -->
                            </div>                           
                        </td>
                    </tr>

                    <tr *ngIf = "isError">
                        <h1>{{error_message}}</h1>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>